<!DOCTYPE HTML>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="css/home.css">
		<!-- <title>{{top}}</title> -->
		
	</head>
	<body>
		<form action="/" method="post" id="logout">

			<tr>

	        	<td> <input type="hidden" name="logout" value="1"></span></td>
			</tr>
		</form>

		<button type="submit" form="logout" value="Submit">logout</button>
		<p> Top 10 rated </p>

		<ul>
			{% for m in top %}
			<li><a href="/movie/{{m.id}}">{{m.movie}}</a></li>
			{% endfor %}
		</ul>
		<form action="/" method="get" id="query">

		{% if condition == false %}
    		<p> Please rate atleast 5 Movies to have a better and personalised experience!</p>
    		<p> Help us to help you! ;) </p>
    	{% else %}
			<p> Top 10 recommended </p>

			<ul>
				{% for m in reco %}
				<li><a href="/movie/{{m.id}}">{{m.movie}}</a></li>
				{% endfor %}
			</ul>
			<form action="/" method="get" id="query">
		{% endif %}

		<p> 10 new releases </p>
		
		<ul class="rslides">
			{% for m in new %}
			<li><a href="/movie/{{m.id}}"><img src="http://image.tmdb.org/t/p/w185{{m.icon}}" style="width:100%; height:450px;padding:5% 5% 5% 5%;"></a></li>
			{% endfor %}
		</ul>
		<form action="/" method="get" id="query">


<tr>

        <td>Search movie by name</span></td>
        <td> <input type="hidden" name="get_result" value="1"></span></td>
        <td> <input type="hidden" name="tag" value="0"></span></td>
        <td> <input type="text" name="query" id="username" size="20"></span></td>

    </tr>

  
</form>
<button type="submit" form="query" value="Submit">Submit</button>
<form action="/" method="get" id="query2">

<tr>
     <td> <input type="hidden" name="get_result" value="1"></span></td>
        <td> <input type="hidden" name="tag" value="1"></span></td>

        <td>Search movie by tags</span></td>
    <select name="query">
    <option value="action">action</option>
    <option value="romance">romance</option>
    <option value="comedy">comedy</option>
    <option value="thriller">thriller</option>
  </select>
  <input type="submit">
  <br><br>
  
    </tr>

  
</form>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script>
  $(function() {
    $(".rslides").responsiveSlides();
  });
</script>
</html>			
