<!DOCTYPE HTML>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
		<p> Welcome to Bioskop! </p>
		<p> Signup or Login </p>
		<p> Warna bhaad mein jao! </p>
		<form action="/" method="post" id="nameform">

<tr>

        <td>User Name</span></td>
        <td> <input type="hidden" name="login" value="1"></span></td>
        <td> <input type="text" name="username" id="username" size="20"></span></td>

    </tr>

    <tr>

        <td>Password</span></td>

        <td><input type="password" name="password" id="password" size="20"></span></td>

    </tr>

    <tr>


</form>
<button type="submit" form="nameform" value="Submit">Submit</button>
<form action="/" method="post" id="sign_up">

<tr>

        <td>User Name</span></td>
        <td> <input type="hidden" name="sign_up" value="1"></span></td>
        <td> <input type="text" name="username" id="username" size="20" value=""></span></td>

    </tr>

    <tr>

        <td>Password</span></td>

        <td><input type="password" name="password" id="password" size="20"></span></td>

    </tr>

    <tr>


</form>

<button type="submit" form="sign_up" value="Submit">Signup</button>
	</body>
</html>			
