<!DOCTYPE HTML>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
	<h3>Movie name</h3>
	<p> {{info.movie}} </p>

	<h3>Icon</h3>
	{% if info.icon %}
		<img src="http://image.tmdb.org/t/p/w185{{info.icon}}" />
    {% else %}
    	<p>Not Available</p>
    
	{% endif %}
	<h3>Description</h3>
	{% if info.description %}
		<p>{{info.description}}</p>
    {% else %}
    	<p>Not Available</p>
    
	{% endif %}

	<h3>Trailer</h3>
	{% if info.trailer %}
		<iframe src="https://www.youtube.com/embed/{{info.trailer}}" width="500px" height="300px"></iframe>
    {% else %}
    	<p>Not Available</p>
	{% endif %}


	<h3>Genre</h3>
	<ul>
		{% for g in genre %}
			<li>{{g}}</li>
		{% endfor %}
	</ul>
	<div>
		
	</div>
	<h3>Rating</h3>
	{% if info.rating == -1 %}
    	<p>Not Available</p>
    {% else %}
		<p>{{info.rating|number_format(2)}}</p>
    
	{% endif %}
	<div>
		
	</div>

	{% if rated == true %}
    	<p> You have already rated this movie! </p>
	    <p> Feel differently? </p>
	    <p> {{my_rate}} stars </p>
	{% endif %}


	{% if msg %}
    	<p>{{msg}}</p>
	{% endif %}


	<form action="/movie/{{info.id}}" method="post" id="rate">

				<tr>
					<td>
					<select name="rating">
				   	<option value="1">1</option>
				    <option value="2">2</option>
				    <option value="3">3</option>
				    <option value="4">4</option>
				    <option value="5">5</option>
				    </select>
			    	</td>
		        	<td> <input type="hidden" name="rate" value="1"></span></td>
				</tr>
	</form>

	<button type="submit" form="rate" value="Submit">rate</button>

	<h3>Similar Movies</h3>
	<ul>
		{% for m in similar %}
			<li><a href="/movie/{{m.id}}">{{m.movie}}</a></li>
		{% endfor %}
	</ul>

	</body>
</html>